{<<"app">>,<<"bbcode">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"BBCode parsing for Elixir">>}.
{<<"elixir">>,<<"~> 1.7">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/bbcode">>,<<"lib/bbcode.ex">>,
  <<"lib/bbcode/generator.ex">>,<<"lib/bbcode/parser.ex">>,<<"test">>,
  <<"test/bbcode">>,<<"test/bbcode/generator_test.exs">>,
  <<"test/bbcode/parser_test.exs">>,<<"test/test_helper.exs">>,<<"mix.exs">>,
  <<"README.md">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"LGPLv3">>]}.
{<<"links">>,[{<<"GitLab">>,<<"https://git.pleroma.social/pleroma/bbcode">>}]}.
{<<"maintainers">>,[]}.
{<<"name">>,<<"bbcode">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"nimble_parsec">>},
   {<<"name">>,<<"nimble_parsec">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 0.5">>}]]}.
{<<"version">>,<<"0.1.1">>}.
